html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f0f4f3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* responsive design, optimize for mobile device */
@media only screen and (max-width: 1024px) {
  html {
    font-size:80%;
  }
}
@media only screen and (max-width: 640px) {
  html {
    font-size:60%;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size:45%;
  }
}
