.navbar {
	width: 100%;
	background-color: #0086b3; /* Only for IE browsers that do not support gradients */
	background-image: linear-gradient(to bottom right, #00004d, #006666);
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.navbar .nav-left-intro {
	float: center;
	margin: 1rem;
	cursor: pointer;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* text1 is for 1st line of text */
.navbar .nav-left-intro .text1 {
	font-size: 3rem;
	color: #00cc66;
}

/* text2 is for 2nd line of text */
.navbar .nav-left-intro .text2 {
	font-size: 2rem;
	color: #ffffff;
}

.navbar .nav-left-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	/* increase flexbox size in order to align properly */
	flex-grow: 1;
	justify-content: space-around;
}

.navbar .nav-right-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.navbar .nav-left-link {
	margin-top: 4rem;
	font-size: 2rem;
	color: #ffffff;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.navbar .nav-left-link .current-page {
	color: hsl(120, 100%, 85%);
}

.navbar .nav-right-list .nav-right-icon {
	margin: 1rem;
	/* set image dimensions with relative length unit to facilitate responsive design */
	height: 3rem;
	width: 3rem;
	cursor: pointer;
	/* invert color of image to suit a darker background */
	filter: invert(1);
}

.navbar .nav-right-list .nav-right-icon:hover {
	transform: scale(0.9);
}

/* text decoration (underline in links) can only be removed from anchor tag */
.navbar a {
	text-decoration: none;
	cursor: pointer;
}

/* disable the default effect of turning purple when clicked */
.navbar a:visited {
	color: #ffffff;
}

/* These have to come after the a:visited selector*/
.navbar a:hover,
.navbar a.active {
	text-shadow: 0 0 1rem white;
}

/* responsive design, optimize for mobile device */
@media only screen and (max-width: 1024px) {
	.navbar {
		flex-direction: column;
	}
	.navbar .nav-left-link {
		margin-top: 1rem;
	}
}
