.card_grid {
  /* auto fitting infinite project cards into the grid container*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 45rem));
  gap: 2rem;
  justify-content: space-between;
}
