.card {
	overflow: hidden;
	box-shadow: 0 0.2rem 1.25rem black;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: transform 200ms ease-in;
	background-color: hsl(0, 0%, 97%);
	--main-card-color: #00cc66;
	width: 24rem;
}

.card .card_img {
	width: 100%; /* card image width and height are set by the "width" and "height" props passed to the component, image file's width:height should be 2:1 */
	height: auto; /* maintain the aspect ratio */
	object-fit: cover;
}

.card .card_title {
	text-align: center;
}

.card .tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	row-gap: 0.3rem;
	column-gap: 0.3rem;
}

.card .tag {
	color: white;
	background-color: var(--main-card-color);
	border-radius: 1rem;
	font-size: 1rem;
	padding: 0.3rem 0.5rem;
	margin: 0; /* use gap in parent container instead */
	list-style: none;
}

/* responsive design, optimize for mobile device */
/*
@media only screen and (max-width: 1024px) {
	.card .tag {
		font-size: 80%;
	}
}
*/

.card .card_description {
	margin: 0 1rem;
	overflow: auto;
}

.card .card_btn {
	padding: 1rem;
	font-weight: bold;
	font-size: 1.8rem;
	margin: 1rem;
	border: 0.3rem solid var(--main-card-color);
	border-radius: 1rem;
	background: transparent;
	color: var(--main-card-color);
	transition: background-color 300ms ease-out 100ms, color 300ms ease-out 100ms;
}

.card:hover {
	transform: scale(1.05);
}

.card .card_btn:hover {
	background-color: var(--main-card-color);
	color: white;
	cursor: pointer;
}
